/* src/components/PodcastDetailsPage.css */

.podcast-details {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.podcast-details h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.player-container {
  margin: 20px 0;
  position: fixed;
  top: 80px;
  left: 0;
  width: 30%;
  background: transparent;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  z-index: 1000;
  padding: 10px;
  box-sizing: border-box;
  height: 20%;
}

.podcast-description {
  margin-bottom: 20px;
}

.seasons-container {
  display: flex;
  gap: 10px;
  overflow-x: auto; /* Enable horizontal scrolling */
  white-space: nowrap; /* Prevent items from wrapping to the next line */
}

.season-card {
  width: 150px;
  cursor: pointer;
  text-align: center;
  flex: 0 0 auto; /* Ensure each season card has its natural width */
}

.season-card img {
  width: 100%;
  border-radius: 8px;
}

.episodes-container {
  margin-top: 20px;
}

.episode-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.episode-card p {
  cursor: pointer;
  margin: 0;
}

.episode-card button {
  background: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.episode-card button:hover {
  background: #d32f2f;
}
