/* src/components/PodcastList.css */
.podcast-list {
  padding: 20px;
}

.sort-options {
  margin-bottom: 20px;
}

.sort-options button {
  margin-right: 10px;
  padding: 5px 10px;
}

.podcast-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

/* Default (Extra Small Devices, Phones) */
.podcast-grid > * {
  flex: 1 1 100%; /* 1 column by default */
}

/* Small Devices, Tablets */
@media (min-width: 577px) and (max-width: 768px) {
  .podcast-grid > * {
    flex: 1 1 calc(50% - 20px); /* 2 columns on small devices */
  }
}

/* Medium Devices, Desktops */
@media (min-width: 769px) and (max-width: 992px) {
  .podcast-grid > * {
    flex: 1 1 calc(25% - 20px); /* 4 columns on medium devices */
  }
}

/* Large Devices, Large Desktops */
@media (min-width: 993px) {
  .podcast-grid > * {
    flex: 1 1 calc(16.66% - 20px); /* 6 columns on large devices */
  }
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  font-size: 20px;
  text-align: center;
}

.filters {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #282c34; /* Match the header background color */
  color: white; /* Match the header text color */
  border-radius: 8px;
  margin-bottom: 20px;
}
