

/* src/components/PodcastDetails.css */
.podcast-details {
    margin-top: 10px;
    text-align: left;
    width: 100%;
  }
  
  .podcast-description {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #333;
  }
  
  .podcast-seasons {
    display: flex;
    overflow-x: auto;
    margin-top: 10px;
  }
  
  .season-item {
    flex: 0 0 auto;
    margin-right: 10px;
    text-align: center;
  }
  
  .season-image {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  
  .season-number {
    margin-top: 5px;
    font-size: 0.8rem;
    color: #333;
  }
  